@import url("https://fonts.googleapis.com/css?family=Mukta+Mahee");

$shadow: (0 0 4px rgba(0, 0, 0, 0.4)), (0 0 8px rgba(0, 0, 0, 0.4));

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 3.5em;
  background: #d0cdcd;

  &,
  button,
  input,
  textarea {
    font-family: "Mukta Mahee", Helvetica, Arial, sans-serif;
  }

  @import "modules/default-button";
  @import "components/Chat";
  @import "components/Navbar";
  @import "components/AuthForm";
}
