@import url(https://fonts.googleapis.com/css?family=Mukta+Mahee);* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding-top: 3.5em;
  background: #d0cdcd; }
  body,
  body button,
  body input,
  body textarea {
    font-family: "Mukta Mahee", Helvetica, Arial, sans-serif; }
  body button {
    transition: all 0.2s;
    border: none;
    height: 2.5em;
    width: 6em;
    font-size: 1.1em;
    height: 2em;
    width: 4.6em;
    background: antiquewhite;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 6px rgba(0, 0, 0, 0.4); }
    body button:hover, body button:focus {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.4), 0 0 9px rgba(0, 0, 0, 0.4);
      transform: scale(1.1); }
    body button:active {
      transform: scale(0.99);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 0 0 5px rgba(0, 0, 0, 0.4); }
    body button::-moz-focus-inner {
      border: 0; }
  body #chat {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body #chat .chat-message, body #chat .chat-input {
      width: 80vw;
      margin: 4px 0;
      padding: 0.5em;
      background: antiquewhite;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.4); }
      body #chat .chat-message h5, body #chat .chat-input h5 {
        margin: 0; }
    body #chat .chat-input {
      display: flex;
      flex-direction: column;
      align-items: right; }
      body #chat .chat-input textarea {
        background: antiquewhite;
        width: 100%;
        min-height: 4rem;
        border: 0;
        resize: vertical;
        margin-bottom: 1em; }
  body nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    height: 3em;
    display: flex;
    background: rgba(35, 26, 16, 0.8);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
    body nav a {
      outline: 0; }
    body nav button {
      border: none;
      background: rgba(0, 0, 0, 0.3);
      color: #ddb160;
      height: 3.5em;
      width: auto;
      transition: all 0.3s;
      box-shadow: none;
      font-size: 0.85em; }
      body nav button > h3 {
        margin: 0; }
      body nav button:active {
        background: rgba(0, 0, 0, 0.5);
        box-shadow: inset -1px 0 5px rgba(0, 0, 0, 0.5), inset 1px 0 5px rgba(0, 0, 0, 0.5);
        transform: scale(1); }
    body nav button:hover,
    body nav button:focus,
    body nav a:focus > button {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2), 1px 0 1px rgba(0, 0, 0, 0.2);
      transform: scale(1.02); }
    body nav a.current > button,
    body nav a.current > button:hover,
    body nav a.current > button:focus,
    body nav a.current > button:active,
    body nav a.current:focus > button {
      background: rgba(0, 0, 0, 0.4);
      box-shadow: inset -1px 0 3px rgba(0, 0, 0, 0.3), inset 1px 0 3px rgba(0, 0, 0, 0.3);
      transform: scale(1); }
  body #auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh; }
    body #auth > form {
      background: antiquewhite;
      display: flex;
      flex-direction: column;
      width: 18em;
      min-height: 22em;
      padding: 1em;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.4); }
      body #auth > form > div {
        padding: 1em 0; }
      body #auth > form input {
        border: none;
        border-bottom: 2px rgba(0, 0, 0, 0.3) solid;
        box-shadow: none;
        background-color: antiquewhite;
        transition: all 0.5s; }
        body #auth > form input:focus {
          border-bottom: 2.5px rgba(0, 0, 255, 0.6) solid;
          transform: scale(1.03); }
    body #auth-submit > button {
      margin-right: 1em; }
    body #auth-error {
      background: rgba(255, 0, 0, 0.6);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6), 0 0 4px rgba(0, 0, 0, 0.6);
      padding: 1em !important; }

/*# sourceMappingURL=main.bundle.css.map*/