button {
  transition: all 0.2s;
  border: none;
  height: 2.5em;
  width: 6em;
  font-size: 1.1em;
  height: 2em;
  width: 4.6em;
  background: antiquewhite;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 6px rgba(0, 0, 0, 0.4);

  &:hover,
  &:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4), 0 0 9px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.99);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 0 0 5px rgba(0, 0, 0, 0.4);
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
